<!-- Tailwind Play CDN -->
<script src="https://cdn.tailwindcss.com"></script>
<script>
  const { defaultTheme } = tailwind;
  tailwind.config = {
    theme: {
      extend: {
        fontFamily: {
          display: ["Plus Jakarta Sans", ...defaultTheme.fontFamily.sans],
          sans: ["Figtree", ...defaultTheme.fontFamily.sans],
          serif: ["Newsreader", ...defaultTheme.fontFamily.serif],
          mono: ["Spline Sans Mono", ...defaultTheme.fontFamily.mono],
        },
      },
    },
  };
</script>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    {{ site.data.tailwind | jsonify }}.forEach(({ selector, classes }) => {
      document.querySelectorAll(`#root ${selector}`).forEach((element) => {
        element.classList.add(...classes);
      });
    });
  });
</script>
