.highlight::after {
  text-align: right;
  font-size: 0.8em;
  color: var(--grey-outline);
  display: block;
  margin-top: -1em;
  padding: 0 1em 0.5em;
}

.language-bash > .highlight::after {
  content: "Bash";
}

.language-brainfuck > .highlight::after {
  content: "Brainfuck";
}

.language-python > .highlight::after {
  content: "Python";
}
