.post-author {
  color: var(--dark-grey-text);
}

article {
  a {
    text-decoration: none;
    color: var(--link-color);
  }

  a:hover {
    text-decoration: underline;
  }

  code {
    font-size: 0.8em;
  }

  h1:hover::before,
  h2:hover::before,
  h3:hover::before {
    content: "#";
    color: var(--grey-outline);
    position: absolute;
    left: -1.5ch;
  }
}
