---
---

@import "code-blocks", "admonitions", "post";

:root {
  --header-height: 4rem;
  --animation-duration: 0.1s;

  font-size: 1.0625rem;
}

.site-header {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0);
  transition: box-shadow var(--animation-duration) ease-in-out;
}
/* Note the ordering so that the shadow can override
 * the default unshadowed style */
.shadow {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

// From https://css-tricks.com/a-complete-guide-to-dark-mode-on-the-web/
@media (prefers-color-scheme: dark) {
  img {
    filter: brightness(0.85) contrast(1.1);
  }
}
