{% if site.enable_features.admonitions %}{% capture content %}{% include admonitions.liquid html=content %}{% endcapture %}{% endif %}
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <meta charset="utf-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    {% include fonts.html %}
    {% include css.html %}
    {% include tailwind.html %}
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
  </head>
  <body>
    <div id="root">
      <div class="BACKGROUND_DYNAMIC_COLOR TEXT_DYNAMIC_COLOR TEXT_DYNAMIC_SPACING font-sans">
        {% include header.html %}
        {{ content }}
      </div>
    </div>
  </body>
</html>
