---
layout: default
---

<div class="post max-w-4xl mx-auto px-6 lg:px-0 space-y-2 TEXT_NORMAL">
  {% if page.cover-img %}
  <div class="post-header">
    {% include cover-img.html img=page.cover-img src=page %}
  </div>
  {% endif %}
  <h1 class="text-2xl md:text-3xl lg:text-4xl TEXT_BOLD !my-7">
    {{ page.override_title | default: page.title }}
  </h1>
  {% if page.date %}
  <span class="italic uppercase">{{ page.date | date: "%A, %-d %b %Y" }}</span>
  {% endif %} {% if page.authors %}
  <div class="flex flex-wrap gap-2 items-center">
    <span>Author{% if page.authors.size > 1 %}s{% endif %}:</span>
    <ul class="post-author flex gap-2 flex-wrap">
      {% for author in page.authors %}
      <li
        class="bg-gray-100 dark:bg-gray-700 dark:text-stone-300 px-2 py-0.5 rounded-lg"
      >
        <iconify-icon
          icon="emojione:bust-in-silhouette"
          inline="true"
        ></iconify-icon>
        {{ author }}
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %} {% if page.authors or page.date %}
  <hr class="!my-4" />
  {% endif %}
  <article class="space-y-4 leading-relaxed font-serif text-justify">
    {{ content }}
  </article>
</div>
{% if page.cover-img %}
<style>
  .post-header {
    margin-top: 1em;
    background-image: url("{{ site.baseurl }}/assets/img/{{ page.date | date: '%Y/%m/' }}{{ page.slug | append: '-' | append: page.cover-img }}");
    background-size: cover;
    border-radius: 0.3em;
  }
</style>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    document
      .querySelectorAll("article h1, article h2, article h3")
      .forEach(function (element) {
        element.addEventListener("click", function () {
          const destination = document.getElementById(
            "markdown-toc-" + element.id
          );
          if (destination) {
            destination.scrollIntoView();
            destination.style.backgroundColor = "rgba(255, 255, 0, 0.5)";
            setTimeout(() => {
              // might want to replace with CSS animation instead
              destination.style.backgroundColor = "";
            }, 500);
            // destination.scrollIntoView({ behavior: "smooth" });
          }
        });
      });
  });
</script>
{% endif %}
